
@{

}

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <h5 class="card-header">Bác sĩ</h5>
        </div>
    </div>
</div>
