
@{
   
}

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <h5 class="card-header">LỰA CHỌN CÁCH TẠO HÓA ĐƠN</h5>
            <div class="card-body">
                <a href=""
                   class="btn btn-primary"
                        style="margin-left: 20%; float:left; padding: 1% 3%;
                                margin-bottom:30px;
                                color:white">
                    THEO THÔNG TIN KH
                </a>
                <a href="/Cashier/Control/Add"
                   style="margin-right: 20%; float:right; padding: 1% 3%;
                                margin-bottom:30px;
                                color: white"
                        class="btn btn-success">
                    TẠO MỚI HÓA ĐƠN
                </a>

            </div>
        </div>
    </div>
</div>